@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
	font-family: "Raleway", sans-serif;
	color: rgb(54, 54, 54);
}

.transition-title {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.transition-title {
		animation: fadeIn 1 2s ease-in;
	}
}

.App-header {
	background-color: #ffffff;
	min-height: 100vh;

	align-items: flex-start;
	padding: 5%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: x-large;

	color: rgb(30, 30, 30);
}

.App-Navbar {
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	background-color: rgb(255, 255, 255);

	width: 100%;
	color: rgb(30, 30, 30);
	display: flex;
	position: sticky;
	top: 0;
	border-bottom: grey solid 1px;
}
.first-element {
	padding: 10 10 1px;

	margin-bottom: 10%;
}

.content-element {
	padding: 3px;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
	margin-top: 10px;
}
.nav__links li a {
	transition: all 0.5s ease 0s;
	color: rgb(30, 30, 30);
}

.nav__links li a:hover {
	color: rgba(30, 30, 30, 0.274);
	text-decoration: none;
}
.footer {
	color: rgb(80, 80, 80);
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 2%;
	border: rgba(80, 80, 80, 0.2) solid 1px;
	font-size: large;
	background-color: white;
}
.contact {
	display: flex;
	flex-direction: column;
	border: solid gray;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 3%;
	width: 80%;
	max-width: 700px;
	margin: 5% 5%;
}
.contact div {
	display: flex;
	flex-direction: column;
}

textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="text"],
input[type="email"] {
	width: 50%;
	padding: 2%;
}

textarea {
	height: 200px;
	resize: vertical;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.about-container {
	display: flex;
	align-items: flex-start;

	flex-direction: column;
	width: 60%;

	margin: 2% auto;
}
.about-container h1 {
	width: 100%;
}
.about-container ul {
	list-style-type: circle;
	margin-left: 30px;
}

.mywork h4 {
	padding: 3% 2%;
}
.mywork a {
	color: rgb(30, 30, 30);
	text-decoration: none;
}
.mywork a:hover {
	color: rgba(30, 30, 30, 0.274);
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

.mywork th,
.mywork td {
	text-align: center;

	padding: 1% 2%;
	border-right: rgba(30, 30, 30, 0.274) solid 1px;
	word-wrap: normal;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
table {
	border: gray solid 3px;
	width: max-content;
	margin: 1% 2%;
	max-width: 800px;
	overflow-x: auto;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
